*{
    background-color: antiquewhite;
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    
}

h1{
    text-align: center;
   
    color:rgb(255, 255, 255)

}
div{
    text-align: center;
}
div.container4 {
    height: 10em;
    position: relative }
div.container4 h1 {
    margin: 0;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
    button{
        border-style: solid;
        border-color: green;
    }