body{
    background-color: rgb(207, 237, 231);
}
h1 {  
    text-decoration-style: solid ;  
        text-decoration: underline blue; 
        text-align: center;
    }  
    div{
        text-align: center;
    }
    section{
        text-align: center;
        height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   